
data/*
figures/*
models/*
*.pdf

# macOS junk
*.DS_Store

# auxiliary LaTeX files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc

.Rproj.user


sandbox/ryurko/models/
sandbox/ryurko/notes/

**.Rproj
**.Rhistory
